body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #520184 0%, #C2028C 100%);
}
body.v2{
  background:#FF69B4!important;
}

.App {
  width: 100%;
  height: 100vh;
}

.hidden{
  display: none!important;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.camera {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url(https://assets-private.eventfinity.co/materials/2679511/original/frame_new.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.result{
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.4s;
}
.result.hasPhoto{
  left: 0;
}

video {
  width: 890px;
  height: 585px;
  top: 130px;
  left: -61.5px;
  position: absolute;
}

.startScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 15;
  background-image: url(/src/assets/startBG.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #FF69B4;
}

img.pressStart {
  width: 296px;
  height: 374px;
}
img.touch {
  width: 92.686px;
  height: 92.686px;
}
.result.hasPhoto {
  position: absolute;
}
.countdown {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result.hasPhoto {
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/src/assets/final.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
}

img.frame {
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100%;
}

a#link {
  position: absolute;
  color: #fff;
  background: #d56a98;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  display: none;
}

canvas {
  width: 100%;
  height: 100vh;
}

button.restart {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 15px 27px;
  text-transform: uppercase;
  background: pink;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  border: none;
  border-radius: 8px;
}

.btnPhoto {
  width: 120px;
  height: 120px;
  background-color: transparent;
  position: absolute;
  bottom: 55px;
}